<form class="pairs__choice js__pairs__choice">
  <ul class="pairs__choice__list">
    <li class="pairs__choice__list__element">
      <input id="pokemon-choice-4" type="radio" value="4" name="pokemon-choice"/>
      <label for="pokemon-choice-4">4</label>
    </li>
    <li class="pairs__choice__list__element">
      <input id="pokemon-choice-6" type="radio" value="6" name="pokemon-choice" />
      <label for="pokemon-choice-6">6</label>
    </li>
    <li class="pairs__choice__list__element">
      <input id="pokemon-choice-8" type="radio" value="8" name="pokemon-choice" />
      <label for="pokemon-choice-8">8</label>
    </li>
  </ul>
  <button class="pairs__choice__button" type="submit">Comenzar</button>
</form>
