<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Ejercicio evaluación bis</title>
  <link rel="icon" href="favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rammetto+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <script src="assets/js/main.js"></script>
</body>
</html>
