
.pairs__list {
  $elementHeight: 200px;
  $elementWidth: 150px;
  $elementGap: 40px;
  margin: 0 auto;
  display:grid;
  grid-template-rows: $elementHeight $elementHeight;
  grid-gap: $elementGap;
  list-style:none;


  &--layout-4 {
    width: (2*$elementWidth) + $elementGap;
    grid-template-columns: $elementWidth $elementWidth;
  }

  &--layout-6 {
    width: (2*$elementWidth) + $elementGap;
    grid-template-rows: $elementHeight $elementHeight $elementHeight;
    grid-template-columns: $elementWidth $elementWidth;
    @media all and (min-width: 780px) {
      width: (3*$elementWidth) + (2*$elementGap);
      grid-template-rows: $elementHeight $elementHeight;
      grid-template-columns: $elementWidth $elementWidth $elementWidth;
    }
  }

  &--layout-8 {
    width: (2*$elementWidth) + $elementGap;
    grid-template-rows: $elementHeight $elementHeight $elementHeight $elementHeight;
    grid-template-columns: $elementWidth $elementWidth;
    @media all and (min-width: 780px) {
      width: (4*$elementWidth) + (3*$elementGap);
      grid-template-rows: $elementHeight $elementHeight;
      grid-template-columns: $elementWidth $elementWidth $elementWidth $elementWidth;
    }
  }

  &__element {
    border: 2px solid $c-mediumDark;
    background-color: white;
    border-radius: 8px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;

    &--find {
      border: 2px solid $c-dark;
      opacity: 0.7;
      background-color: $c-mediumLight;
    }
  }

}
